@import "../styles/scss/Master";

.linkContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto 0;
  align-items: center;
  display: flex;
  flex-direction: column;

  &__link {
    text-decoration: none;
    color: $colour-yellow;
  }
}

.pageContainer {
  
  &__nav-button {
    display: flex;
    justify-content: flex-end;

    @include tablet {
      justify-content: center;
    }
  }
}