@import "../../Styles/scss/Master";

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &__header {
    font-size: 1.5rem;

    @include tablet {
      font-size: 2.5rem;
    }

    @include laptop {
      font-size: 4rem;
    }
  }
}

.card1,
.card2,
.card3,
.card4,
.card-header {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card-header {
  top: 30%;
  font-size: 1.5rem;
  z-index: 100;

  @include tablet {
    font-size: 2.5rem;
  }

  @include laptop {
    font-size: 4rem;
  }
}

.card1 {
  // min-width: 60ch;
  // min-height: 60ch;
  width: 100px;
  height: 100px;
  // max-width: 100ch;
  // max-height: 100ch;
  background-image: url("../../Assets/Images/Hacker.svg");
  top: 40%;
  left: 80%;
  z-index: 50;
}

.card2 {
  width: 100px;
  height: 100px;
  background-image: url("../../Assets/Images/Ice-Cream.svg");
  top: 50%;
  left: 30%;
  z-index: 50;
}

.card3 {
  width: 100px;
  height: 100px;
  background-image: url("../../Assets/Images/Pepper.svg");
  top: 50%;
  left: 45%;
  z-index: 50;
}

.card4 {
  width: 100px;
  height: 100px;
  background-image: url("../../Assets/Images/Salt.svg");
  top: 70%;
  left: 70%;
  z-index: 50;
}

#stars {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1994px 1692px #fff, 961px 1928px #fff, 819px 1320px #fff,
    1899px 52px #fff, 28px 1937px #fff, 157px 88px #fff, 860px 1909px #fff,
    720px 427px #fff, 1319px 1469px #fff, 677px 960px #fff, 1265px 1181px #fff,
    1176px 1361px #fff, 1957px 753px #fff, 1674px 1355px #fff, 929px 1206px #fff,
    1038px 898px #fff, 1229px 365px #fff, 1085px 51px #fff, 851px 650px #fff,
    385px 21px #fff, 41px 1153px #fff, 718px 70px #fff, 1321px 579px #fff,
    497px 1458px #fff, 1981px 813px #fff, 776px 1187px #fff, 1345px 31px #fff,
    1571px 400px #fff, 339px 587px #fff, 146px 750px #fff, 64px 61px #fff,
    307px 981px #fff, 388px 849px #fff, 1398px 936px #fff, 522px 765px #fff,
    1146px 350px #fff, 19px 206px #fff, 1767px 319px #fff, 1203px 425px #fff,
    1917px 1018px #fff, 91px 1401px #fff, 898px 697px #fff, 1712px 1121px #fff,
    633px 1119px #fff, 137px 1266px #fff, 1006px 931px #fff, 1644px 1804px #fff,
    1596px 1057px #fff, 1298px 543px #fff, 1505px 996px #fff, 1972px 1383px #fff,
    1210px 1497px #fff, 804px 1840px #fff, 913px 1047px #fff, 187px 1824px #fff,
    1564px 1994px #fff, 557px 1737px #fff, 508px 1609px #fff, 1259px 1911px #fff,
    1294px 1381px #fff, 1845px 1843px #fff, 667px 1497px #fff, 1046px 945px #fff,
    937px 1889px #fff, 982px 1806px #fff, 1293px 671px #fff, 668px 904px #fff,
    358px 1971px #fff, 133px 766px #fff, 1152px 1573px #fff, 318px 694px #fff,
    578px 1184px #fff, 1620px 1701px #fff, 1359px 354px #fff, 1807px 1367px #fff,
    458px 911px #fff, 1387px 806px #fff, 523px 81px #fff, 1243px 341px #fff,
    906px 1730px #fff, 1629px 474px #fff, 1690px 419px #fff, 847px 808px #fff,
    528px 1627px #fff, 480px 718px #fff, 537px 593px #fff, 1432px 1333px #fff,
    200px 1228px #fff, 1800px 1375px #fff, 725px 1231px #fff, 1749px 1432px #fff,
    1948px 303px #fff, 1889px 252px #fff, 1114px 1400px #fff, 759px 646px #fff,
    222px 571px #fff, 1908px 1401px #fff, 1856px 1204px #fff, 338px 1645px #fff,
    1528px 1050px #fff, 1228px 1250px #fff, 228px 350px #fff, 268px 350px #fff,
    728px 250px #fff, 428px 550px #fff, 128px 950px #fff, 728px 320px #fff, 
    658px 164px #fff, 393px 664px #fff, 1258px 540px #fff, 698px 950px #fff,
    1228px 1111px #fff, 1091px 346px #fff, 991px 340px #fff, 228px 350px #fff,
    1400px 650px #fff, 528px 1350px #fff, 828px 750px #fff, 828px 750px #fff, 
    852px 780px #fff, 828px 790px #fff, 200px 200px #fff, 250px 250px #fff,
    300px 300px #fff, 350px 350px #fff, 400px 400px #fff, 550px 200px #fff,
    1240px 730px #fff, 1250px 930px #fff, 330px 1100px #fff, 1250px 433px #fff,
    560px 200px #fff, 165px 800px #fff, 420px 525px #fff, 849px 129px #fff,
    551px 200px #fff, 550px 200px #fff, 550px 200px #fff, 550px 200px #fff,
    333px 331px #fff, 951px 1212px #fff, 1222px 1422px #fff, 1050px 1200px #fff,
    152px 525px #fff, 125px 463px #fff, 644px 440px #fff, 365px 1200px #fff,
    1259px 264px #fff, 1276px 1075px #fff, 1056px 456px #fff, 425px 1202px #fff,
    950px 400px #fff, 653px 212px #fff, 770px 100px #fff, 1351px 544px #FFF,
    708px 68px #FFF , 1870px 130px #FFF , 556px 1270px #FFF , 1432px 618px #FFF, 
    769px 673px #FFF, 1289px 1410px #FFF, 1499px 1969px #FFF , 749px 1163px #FFF, 
    1198px 198px #FFF, 399px 133px #FFF, 1856px 1280px #FFF, 904px 194px #FFF,
    973px 1107px #FFF, 273px 507px #FFF, 173px 107px #FFF, 373px 1107px #FFF,
    33px 437px #FFF, 253px 407px #FFF, 333px 407px #FFF, 403px 617px #FFF, 
    103px 607px #FFF, 253px 907px #FFF, 773px 277px #FFF, 147px 247px #FFF, 
    1253px 547px #FFF, 603px 1207px #FFF, 773px 907px #FFF, 853px 947px #FFF,
    853px 807px #FFF, 853px 877px #FFF, 253px 407px #FFF, 873px 967px #FFF, 
    253px 407px #FFF, 500px 500px #FFF, 540px 500px #FFF, 560px 500px #FFF, 
    450px 450px #FFF, 560px 470px #FFF, 860px 490px #FFF, 860px 490px #FFF;
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  top: 0;
  left: 0;
  z-index: 10;
}
