// Fonts

@font-face{
  font-family: "Ubuntu", sans-serif;
  src: url('../../Assets/Fonts/Ubuntu-Regular.ttf') format('ttf');
}

@font-face{
  font-family: "Starjedi";
  src: url('../../Assets/Fonts/Starjedi.ttf') format('truetype');
}


// Variables 

$site-font-starwars: "Starjedi", sans-serif;
$site-font: "Ubuntu", sans-serif;

$colour-black: #000000;
$colour-yellow: #FFE81F;
$colour-white: #FFFFFF;
$colour-grey: #383838;


// Mixins

@mixin tablet {
  @media (min-width: 48rem) {
      @content;
  }
}

@mixin laptop {
  @media (min-width: 64rem) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: 90rem) {
      @content;
  }
}

@mixin site-font {
  font-family: $site-font-starwars, $site-font;
  color: $colour-yellow;
  letter-spacing: 1px;
}

@mixin site-header {
  font-size: 2rem;
  margin: 10px 0;
}

*{
  margin: 0;
}

body {
  @include site-font;
  background: black;
}


.section-Container {
  padding: 0 16px;

  &__header {
    @include site-header;
  }

  &__list {
    list-style: none;
    padding: 0;

    &__item {
      padding: 5px;
      margin: 10px 0;
      border-radius: .25rem;

      &--link {
        text-decoration: none;
        color: $colour-yellow;

        :nth-last-child(-n+2) {
          font-family: $site-font
        }
      }
    }
  }
}


.individual-Container {
  padding: 16px;
  
  &__header {
    @include site-header;
  }

  > p {
    font-family: $site-font;
  }  
}

#planet-list-item {
  font-family: $site-font-starwars;
}